#Test
{
    background-color: #24315E;
    width: 100vw;
    height: 100vh;
    display: flex;
}
#Leftside
{
    width: 960px;
    height: 100vh;
}
#Rightside
{
    width: 960px;
    height: 100vh;
    display: inline;
}
#Rightside img
{
    width: 750px;
    height: 750px;
    position: relative;
    top: 60px;
    left: 80px;

}
#Leftside p
{
    font-size: 80px;
    font-family: "Carlito", 'Times New Roman', Times, serif;
    text-align: center;
    color: #ffffff;
    margin-top: 434px;
    margin-right: 150px;

}
#Rightside .adjustment1
{
    width: 900px;
    height: 600px;
    margin-top: 100px;
    margin-left: -120px;
}
#Rightside .adjustment3
{
    width: 600px;
    height: 700px;
    margin-top: 100px;
    margin-left: 70px;
}
#Rightside .adjustment4
{
    width: 800px;
    height: 500px;
    margin-top: 150px;
    margin-left: -30px;
}
#Rightside .adjustmentpsp
{
    width: 800px;
    height: 500px;
    margin-top: 150px;
    margin-left: -30px;
}
#Rightside .adjustmentvita
{
    width: 800px;
    height: 400px;
    margin-top: 210px;
    margin-left: -30px;
}
#Rightside .adjustmentmove
{
    width: 800px;
    height: 500px;
    margin-top: 150px;
    margin-left: -30px;
    transform: rotateZ(-90deg);
}
#Famousbox
{
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 800px;
    background-color: #1a1919;

}
#Fleft
{
    width: 960px;
    height: 800px;
}
#Fleft .text
{
    text-align: center;
    margin: 0% 25%;
    height: 50px;
    font-size: 40px;
    font-family: "Carlito",'Times New Roman', Times, serif;
    color: #ffffff;
    position: relative;
    bottom: 450px;
    left: 80px;

}
#Mdivide
{
    width: 60px;
    height: 800px;
    margin-top: 20px;
    transform: skew(-25deg,-1deg) scaleY(1.1);
    background-color: #282626;
}
#Rright
{
    width: 960px;
    height: 800px;
}
#Rright p
{
    text-align: center;
    font-size: 63px;
    font-family: "Carlito",'Times New Roman', Times, serif;
    color: #ffffff;

}
.bk
{
    transform: rotate(90deg) translateX(130px);
    position: relative;
    right: 180px;
}

#Famousbox  #ArrowContainer
{
    width: 100vw;
    height: 20px;
    background-color: aqua;
}
.arrowL
{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 65px;
    left: 20px;
    transform: rotate(180deg);
    z-index: 1;
}
.arrowL:hover
{
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 55px;
    left: 20px;
    transform: rotate(180deg);
    z-index: 1;
    box-shadow: -5px 0px 40px 10px #000000;

}
.arrowR
{
    width: 50px;
    height: 50px;
    position: relative;
    bottom: 65px;
    left: 1780px;
    z-index: 1;
}
.arrowR:hover
{
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 55px;
    left: 1780px;
    z-index: 1;
    box-shadow: -5px 0px 40px 10px #000000;

}
/*Game image size*/
.ff7
{
    width: 903px;
    height: 775px;
    position: relative;
    bottom: 50px;
    right: 10px;
}
.gt2
{
    width: 575px;
    height: 475px;
    position: relative;
    top: 150px;
    left: 150px;
}
.tekken3
{
    width: 550px;
    height: 450px;
    position: relative;
    top: 120px;
    left: 170px;
}
.mgs
{
    width: 700px;
    height: 450px;
    position: relative;
    top: 120px;
    left: 130px;
}
.re1
{
    width: 700px;
    height: 450px;
    position: relative;
    top: 120px;
    left: 130px;
}
/*ps2 games */
.ps2standard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}
/* ps3 games */
.ps3standard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}


/* ps4 games */
.ps4standard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}
/* Psp games */
.pspstandard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}
/* vita games */
.vitastandard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}

/* vr games */
.vrstandard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}
/* move */
.movestandard
{
    width: 743px;
    height: 400px;
    position: relative;
    top: 150px;
    left: 100px;
}
.titleshrink
{
    margin: 0% 20%;
}

/*** All media queries ***/
@media only screen and (max-width:1280px) and (max-height:950px)
{
    #cloud
    {
        width: 372px;
        height: 865px;
    }

    #snake
    {
        width: 504px;
        height: 750px;
    }

    #landingPageTitle
    {
        font-size: 5em;
        text-align: center;
        position: relative;
        right: 350px;
        bottom: 50px;
        line-height: 130px;
    }
    #aboutText
    {
        font-family: 'Carlito', 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 50px;
        text-align: center;
        position: relative;
        right: 180px ;
        margin: 20% 30% 0%;
        line-height: 89px;
        text-shadow: -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px  3px 0 #000,
        3px  3px 0 #000;
    }

    #aboutTextContainer
    {
        width: 45vw;
        height: 70vh;
    }

    #FFX
    {
        width: 464px;
        height: 300px;
        position: relative;
        top: 490px;
        left: 105px;
    }

    #Ratchet
    {
        width: 350px;
        height: 230px;
        position: relative;
        bottom: 305px;
        left: 289px;
        margin-bottom: 8px;
    }

    #MGS1
    {
        width: 296px;
        height: 237.43px;
        position: relative;
        bottom: 545px;
        right: 16px;
    }
    #DMC3
    {
        width: 247px;
        height: 152px;
        position: relative;
        bottom: 350px;
        left: 33px;
    }
    #Uncharted
    {
        width: 288px;
        height: 192.14px;
        position: relative;
        bottom: 535px;
        left: 10px;
        margin-bottom: -41px;
    }
    #Consolecontrol
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 200px;
        left: 500px;
    }
    #handhelds
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 200px;
        left: 500px;
    }
    #Selecthistory
    {
    width: 100vw;
    height: 130vh;
    background-color: #24315E;
    }
    #Leftside p
    {
        font-size: 60px;
        font-family: "Carlito", 'Times New Roman', Times, serif;
        text-align: center;
        color: #ffffff;
        margin-top: 434px;
        margin-right: 150px;

    }
    #Rightside
    {
        width: 100vw;
        height: 100vh;
        display: block;
    }
    #Rightside img
    {
        width: 100%;
        height: 100%;
        position: relative;
        top: 60px;
        left: 0px;

    }
    #Rightside .adjustment3
    {
        width: 600px;
        height: 700px;
        margin-top: 90px;
        margin-left: 70px;
    }
    #Fleft
    {
        width: 700px;
        height: 800px;
    }
    #Fleft .text
    {
        text-align: center;
        margin: 0% 30%;
        height: 50px;
        font-size: 30px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
        position: relative;
        bottom: 450px;
        left: 80px;

    }
    #Rright p
    {
        text-align: center;
        font-size: 38px;
        margin-left: 150px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
    }
    .arrowR
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 1160px;
        z-index: 1;
    }
    .arrowR:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 1160px;
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }
    .arrowL
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
    }
    .arrowL:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }

    .ps2standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 220px;
        left: 95px;
    }
    .ps3standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 220px;
        left: 95px;
    }
    .ps4standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 220px;
        left: 100px;
    }
    .pspstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vitastandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vrstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .movestandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .titleshrink
    {
        margin: 0% 20%;
        position: relative;
        left: 50px;
    }
    .ff7
    {
        width: 545px;
        height: 650px;
        position: relative;
        top: 160px;
        left: 10px;
    }
    .gt2
    {
        width: 405px;
        height: 275px;
        position: relative;
        top: 250px;
        left: 100px;
    }
    .tekken3
    {
        width: 450px;
        height: 250px;
        position: relative;
        top: 250px;
        left: 80px;
    }
    .mgs
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 95px;
    }
    .re1
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 100px;
    }
}

@media only screen and (max-width:1500px) and (max-height:700px)
{
    #cloud
    {
        width: 372px;
        height: 645px;
    }

    #snake
    {
        width: 504px;
        height: 480px;
        /* margin-bottom: 519px; */
    }

    #landingPageTitle
    {
        font-size: 4em;
        text-align: center;
        position: relative;
        right: 230px;
        bottom: 50px;
        line-height: 100px;
    }

    #aboutTextContainer
    {
        width: 45vw;
        height: 70vh;
    }

    #aboutText
    {
        font-family: 'Carlito', 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 40px;
        text-align: center;
        position: relative;
        right: 120px ;
        margin: 8% 28% 0%;
        line-height: 89px;
        text-shadow: -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px  3px 0 #000,
        3px  3px 0 #000;
    }
   
    #Selecthistory
    {
    width: 100vw;
    height: 150vh;
    background-color: #24315E;
    }

    #FFX
    {
        width: 464px;
        height: 200px;
        position: relative;
        top: 360px;
        left: 105px;
    }

    #Ratchet
    {
        width: 300px;
        height: 200px;
        position: relative;
        bottom: 211px;
        left: 389px;
        margin-bottom: 8px;
    }

    #MGS1
    {
        width: 226px;
        height: 180.43px;
        position: relative;
        bottom: 65px;
        right: 186px;
    }

    #DMC3
    {
        width: 247px;
        height: 152px;
        position: relative;
        bottom: 215px;
        left: 503px;
    }

    #Uncharted
    {
        width: 288px;
        height: 162.14px;
        position: relative;
        bottom: 445px;
        right: 250px;
        margin-bottom: -41px;
    }

    #Consolecontrol
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 200px;
        left: 600px;
    }
    #handhelds
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 200px;
        left: 600px;
    }
    #Leftside p
    {
        font-size: 60px;
        font-family: "Carlito", 'Times New Roman', Times, serif;
        text-align: center;
        color: #ffffff;
        margin-top: 434px;
        margin-right: 150px;
    }
    #Rightside
    {
        width: 100vw;
        height: 100vh;
        display: block;
    }
    #Rightside img
    {
        width: 100%;
        height: 100%;
        position: relative;
        top: 60px;
        left: 0px;
    }

    #Rightside .adjustment3
    {
        width: 600px;
        height: 700px;
        margin-top: 10px;
        margin-left: 70px;
    }
    
    #Fleft
    {
        width: 700px;
        height: 800px;
    }
    #Fleft .text
    {
        text-align: center;
        margin: 0% 30%;
        height: 50px;
        font-size: 30px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
        position: relative;
        bottom: 450px;
        left: 80px;
    }

    #Rright p
    {
        text-align: center;
        font-size: 33px;
        margin-left: 150px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
    }
    
    .arrowR
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 1160px;
        z-index: 1;
    }
    .arrowR:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 1160px;
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }
    .arrowL
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
    }
    .arrowL:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }

    .ps2standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps3standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps4standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .pspstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vitastandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vrstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .movestandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .titleshrink
    {
        margin: 0% 20%;
        position: relative;
        left: 50px;
    }
    .ff7
    {
        width: 545px;
        height: 650px;
        position: relative;
        top: 160px;
        left: 10px;
    }
    .gt2
    {
        width: 405px;
        height: 275px;
        position: relative;
        top: 250px;
        left: 100px;
    }
    .tekken3
    {
        width: 450px;
        height: 250px;
        position: relative;
        top: 250px;
        left: 80px;
    }
    .mgs
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 95px;
    }
    .re1
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 100px;
    }
}
@media only screen and (max-height:950px)
{
    #cloud
    {
        width: 17%;
        height: 10%;
    }

    #snake
    {
        width: 25%;
        height: 30%;
        /* margin-bottom: 519px; */
    }

    #landingPageTitle
    {
        font-size: 8em;
        text-align: center;
        position: relative;
        right: 230px;
        bottom: 50px;
        line-height: 1.5em;
    }

    #aboutTextContainer
    {
        width: 45vw;
        height: 70vh;
    }

    #aboutText
    {
        font-family: 'Carlito', 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 4em;
        text-align: center;
        position: relative;
        right: 120px ;
        margin: 8% 28% 0%;
        line-height: 170%;
        text-shadow: -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px  3px 0 #000,
        3px  3px 0 #000;
    }
   
    #Selecthistory
    {
    width: 100vw;
    height: 150vh;
    background-color: #24315E;
    }

    #FFX
    {
        width: 80%;
        height: 40%;
        position: relative;
        top: 500px;
        left: 105px;
    }

    #Ratchet
    {
        width: 40%;
        height: 30%;
        position: relative;
        bottom: 308px;
        left: 479px;
        margin-bottom: 8px;
    }

    #MGS1
    {
        width: 30%;
        height: 28%;
        position: relative;
        bottom: 65px;
        right: 226px;
    }

    #DMC3
    {
        width: 30%;
        height: 30%;
        position: relative;
        bottom: 50px;
        left: -50px;
    }

    #Uncharted
    {
        width: 35%;
        height: 25%;
        position: relative;
        bottom: 550px;
        left: 56px;
        margin-bottom: -41px;
    }

    #Consolecontrol
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 400px;
        left: 800px;
    }
    #handhelds
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 200px;
        left: 800px;
    }
    #Leftside p
    {
        font-size: 60px;
        font-family: "Carlito", 'Times New Roman', Times, serif;
        text-align: center;
        color: #ffffff;
        margin-top: 434px;
        margin-right: 150px;
    }
    #Rightside
    {
        width: 100vw;
        height: 100vh;
        display: block;
    }
    #Rightside img
    {
        width: 100%;
        height: 100%;
        position: relative;
        top: 60px;
        left: 0px;
    }

    #Rightside .adjustment3
    {
        width: 600px;
        height: 700px;
        margin-top: 10px;
        margin-left: 70px;
    }
    
    #Fleft
    {
        width: 700px;
        height: 800px;
    }
    #Fleft .text
    {
        text-align: center;
        margin: 0% 30%;
        height: 50px;
        font-size: 30px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
        position: relative;
        bottom: 450px;
        left: 80px;
    }

    #Rright p
    {
        text-align: center;
        font-size: 33px;
        margin-left: 150px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
    }
    
    .arrowR
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 1160px;
        z-index: 1;
    }
    .arrowR:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 1160px;
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }
    .arrowL
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
    }
    .arrowL:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }

    .ps2standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps3standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps4standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .pspstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vitastandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vrstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .movestandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .titleshrink
    {
        margin: 0% 20%;
        position: relative;
        left: 50px;
    }
    .ff7
    {
        width: 545px;
        height: 650px;
        position: relative;
        top: 160px;
        left: 10px;
    }
    .gt2
    {
        width: 405px;
        height: 275px;
        position: relative;
        top: 250px;
        left: 100px;
    }
    .tekken3
    {
        width: 450px;
        height: 250px;
        position: relative;
        top: 250px;
        left: 80px;
    }
    .mgs
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 95px;
    }
    .re1
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 100px;
    }
}
@media only screen and (max-height:700px)
{
    #cloud
    {
        width: 16%;
        height: 10%;
    }

    #snake
    {
        width: 22%;
        height: 30%;
        /* margin-bottom: 519px; */
    }

    #landingPageTitle
    {
        font-size: 7.5em;
        text-align: center;
        position: relative;
        right: 230px;
        bottom: 170px;
        line-height: 1.5em;
    }

    #aboutTextContainer
    {
        width: 45vw;
        height: 70vh;
    }

    #aboutText
    {
        font-family: 'Carlito', 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 2.7em;
        text-align: center;
        position: relative;
        right: 120px ;
        margin: 8% 28% 0%;
        line-height: 170%;
        text-shadow: -3px -3px 0 #000,
        3px -3px 0 #000,
        -3px  3px 0 #000,
        3px  3px 0 #000;
    }
   
    #Selecthistory
    {
    width: 100vw;
    height: 175vh;
    background-color: #24315E;
    }

    #FFX
    {
        width: 80%;
        height: 40%;
        position: relative;
        top: 350px;
        left: 105px;
    }

    #Ratchet
    {
        width: 40%;
        height: 30%;
        position: relative;
        bottom: 210px;
        left: 409px;
        margin-bottom: 8px;
    }

    #MGS1
    {
        width: 30%;
        height: 28%;
        position: relative;
        bottom: 65px;
        right: 226px;
    }

    #DMC3
    {
        width: 30%;
        height: 30%;
        position: relative;
        bottom: 50px;
        left: -50px;
    }

    #Uncharted
    {
        width: 37%;
        height: 27%;
        position: relative;
        bottom: 380px;
        left: 56px;
        margin-bottom: -41px;
    }

    #Consolecontrol
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 300px;
        left: 520px;
    }
    #handhelds
    {
        width: 300px;
        height: 300px;
        position: relative;
        top: 300px;
        left: 520px;
    }
    #Leftside p
    {
        font-size: 60px;
        font-family: "Carlito", 'Times New Roman', Times, serif;
        text-align: center;
        color: #ffffff;
        margin-top: 434px;
        margin-right: 150px;
    }
    #Rightside
    {
        width: 100vw;
        height: 100vh;
        display: block;
    }
    #Rightside img
    {
        width: 100%;
        height: 100%;
        position: relative;
        top: 60px;
        left: 0px;
    }
    #Rightside .adjustment1
    {
        width: 900px;
        height: 600px;
        margin-top: 20px;
        margin-left: -120px;
    }

    #Rightside .adjustment3
    {
        width: 600px;
        height: 600px;
        margin-top: -20px;
        margin-left: 70px;
    }

    #Rightside .adjustment4
    {
        width: 800px;
        height: 500px;
        margin-top: 100px;
        margin-left: -30px;
    }
    #Rightside .adjustmentpsp
    {
        width: 800px;
        height: 500px;
        margin-top: 100px;
        margin-left: -30px;
    }

    #Rightside .adjustmentmove
    {
        width: 700px;
        height: 400px;
        margin-top: 140px;
        margin-left: -30px;
        transform: rotateZ(-90deg);
    }
    #Rightside .adjustmentvita
    {
        width: 800px;
        height: 400px;
        margin-top: 190px;
        margin-left: -30px;
    }
    
    #Fleft
    {
        width: 700px;
        height: 800px;
    }
    #Fleft .text
    {
        text-align: center;
        margin: 0% 30%;
        height: 50px;
        font-size: 30px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
        position: relative;
        bottom: 450px;
        left: 80px;
    }

    #Rright p
    {
        text-align: center;
        font-size: 33px;
        margin-left: 150px;
        font-family: "Carlito",'Times New Roman', Times, serif;
        color: #ffffff;
    }
    
    .arrowR
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 1160px;
        z-index: 1;
    }
    .arrowR:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 1160px;
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }
    .arrowL
    {
        width: 50px;
        height: 50px;
        position: relative;
        bottom: 75px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
    }
    .arrowL:hover
    {
        width: 55px;
        height: 55px;
        position: relative;
        bottom: 55px;
        left: 20px;
        transform: rotate(180deg);
        z-index: 1;
        box-shadow: -5px 0px 40px 10px #000000;
    }

    .ps2standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps3standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 95px;
    }
    .ps4standard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .pspstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vitastandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .vrstandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .movestandard
    {
        width: 395px;
        height: 300px;
        position: relative;
        top: 180px;
        left: 100px;
    }
    .titleshrink
    {
        margin: 0% 20%;
        position: relative;
        left: 50px;
    }
    .ff7
    {
        width: 545px;
        height: 650px;
        position: relative;
        top: 160px;
        left: 10px;
    }
    .gt2
    {
        width: 405px;
        height: 275px;
        position: relative;
        top: 250px;
        left: 100px;
    }
    .tekken3
    {
        width: 450px;
        height: 250px;
        position: relative;
        top: 250px;
        left: 80px;
    }
    .mgs
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 95px;
    }
    .re1
    {
        width: 400px;
        height: 250px;
        position: relative;
        top: 225px;
        left: 100px;
    }
}
